<h1>Perfil</h1>

<table class="table table-user-information">
	<tbody>
		<tr>
			<td><span class="glyphicon glyphicon-user"></span> ID</td>
			<td><%= @user.id %></td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-sunglasses"></span> Apodo</td>
			<td><%= @user.nickname %></td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-envelope"></span> Correo</td>
			<td><a href="mailto:<%= @user.email %>"><%= @user.email %></a></td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-certificate"></span> Tipo</td>
			<td><%=@tipo%></td>
		</tr>
	</tbody>
</table>

<hr>

<p>
	<span class="glyphicon glyphicon-edit"></span>
	<%= link_to 'Editar datos', edit_user_registration_path %>
</p>

<p>
	<span class="glyphicon glyphicon-log-out"></span>
	<%= link_to('Cerrar sesion', destroy_user_session_path, :method => :delete) %>
</p>