<!DOCTYPE html>
<html>
 
  <head>
 
    <title>OSTy</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "views" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
 
 </head>
 
  <body>

    <div class="super-conteiner">

      <center><%= image_tag "osty.png", :class => "logo-search img-responsive" %></center>

        <div class="container">

          <div class="search col-md-8 col-md-offset-2">

            <ul class="nav">
              <li class="col-md-3"><a href="/collaborations">Colaboraciones</a></li>
              <li class="col-md-3"><a href="/favorites">Favoritos</a></li>
              <li class="col-md-3"><a href="/users/profile">Perfil</a></li>
              <li class="col-md-3"><a href="/search/index">Buscar</a></li>
            </ul>

            <!--
            Mediante jquery se podria dejar pintado el li
            en color dodgerblue, en funcion del path actual
            Por ejemplo: Si esta en colaboraciones, este aparecera seleccionado 
            -->

          </div>

        </div>

    </div>

      <div class="container search col-md-8 col-md-offset-2"><%= yield %></div>
      <%= javascript_include_tag "aw" %>

  </body>

</html>
