<h1>Editar datos</h1>

<hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <%= devise_error_messages! %>
  
  <div class="field">
    <strong>Nuevo apodo</strong><br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>

  <div class="field">
    <strong>Nuevo Correo</strong><br />
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Esperando confirmacion de: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <strong>Nueva Contraseña</strong><br />
    <i>(En blanco para no cambiar)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em>(Al menos <%= @minimum_password_length %>)</em>
    <% end %>
  </div>

  <div class="field">
    <strong>Confirmar contraseña</strong><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <hr>

  <div class="field">
    <strong>***Contraseña actual***</strong><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions"><%= f.submit "Modificar", :class => "btn"%></div>

<% end %>

<hr>

<p>
  <span class="glyphicon glyphicon-warning-sign"></span>
  <%= link_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "Estas segur@? No hay vuelta atras" }, method: :delete %>
</p>
